.banner{
	background-color: #000000;
}

.banner__container {
	display: flex;
	justify-content: space-evenly;
}

.partners {
	margin-top: 100px;
	margin-bottom: 100px;
}

.partners__container {
	display: flex;
	justify-content: space-evenly;
}

.footer-banner {
	background: linear-gradient(120.79deg, #181818 87.75%, #FFFFFF00 5.17%);
	width: 787px;
	height: 153px;
	position: absolute;
	margin-top: -80px;
	display: flex;
	align-items: center;
	justify-content: center;
}