.div_banner_img {
	background-color: #000000;
}

.span_banner_img {
	display: flex;
	justify-content: space-evenly;
}

.div_banner_images {
	margin-top: 100px;
	margin-bottom: 100px;
}

.span_banner_images {
	display: flex;
	justify-content: space-evenly;
}

.div_banner_class_images {
	background: linear-gradient(120.79deg, #181818 87.75%, #FFFFFF00 5.17%);
	width: 787px;
	height: 153px;
	position: absolute;
	margin-top: -80px;
	display: flex;
	align-items: center;
	justify-content: center;
}