.header{
	margin-left: 100px;
}

.nav {
	display: flex;
	max-width: 1512px;
	height: 100px;
}

.nav__list.nav__list--upper {
	display: flex;
}

.nav__list.nav__list--lower {
	position: absolute;
	right: 0;
	margin-right: 100px;
	display: flex;
    justify-content: flex-end;
	align-items: center;
}

.nav__item {
	display: flex;
	align-items: center;
	margin: 10px;
	font-family: 'Proxima Nova';
	font-size: 14px;
	color: #2F2F2F;
}

.nav__item.nav__item--feedback {
	width: 144px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	margin: 10px;
	font-family: 'Proxima Nova';
	font-size: 14px;
	color: #ffffff;
	background-color: #E92129;
}

.nav__icon {
	margin: 5px;
}