.portfolio {
	display: flex;
	margin: 150px 0px;
}

.portfolio__header {

	display: flex;
	align-items: center;
	margin-left: 100px;
}

.portfolio__title {
    font-size: 80px;
    font-weight: 800;
	color: #242424;
}

.images_portfolio_medius {
	padding: auto;
}

.portfolio__description {
	font-family: Proxima Nova;
	font-size: 18px;
	font-weight: 400;
	color: #1C1C1C;
	padding-bottom: 30px;
}

.portfolio__button {
	width: 186px;
	height: 52px;
	border-radius: 12px;
	background-color: #E92129;
	font-family: Proxima Nova;
	font-size: 16px;
	font-weight: 700;
	line-height: 22.13px;
	color:#ffffff;
	border: none;
}