/*@import url(css/swiper-bundle.min.css);*/

*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	font-family: Proxima Nova, sans-serif;
}

header{
	margin-left: 100px;
}

.nav_header {
	display: flex;
	width: 1512px;
	height: 100px;
}

.ul_upper {
	display: flex;
}

.li_img {
	margin: 5px;
}

.div_avatar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ul_lower {
	position: absolute;
	right: 0;
	margin-right: 100px;
	display: flex;
    justify-content: flex-end;
	align-items: center;
}

.a_img {
	margin: 5px;
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: normal;
	src: local('proxima-nova'),
		url('/../font/proxima-nova/proxima-nova-bold.woff2') format('woff2'), 
		url('/../font/proxima-nova/proxima-nova-bold.woff') format('woff'),
		url('/../font/proxima-nova/proxima-nova-bold.ttf') format('ttf'),
		url('/../font/proxima-nova/proxima-nova-bold.eot') format('eot');
}

.li_infopmation {
	display: flex;
	align-items: center;
	margin: 10px;
	font-family: 'Proxima Nova';
	font-size: 14px;
	color: #2F2F2F;

}

.li_infopmations {
	width: 144px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	margin: 10px;
	font-family: 'Proxima Nova';
	font-size: 14px;
	color: #ffffff;
	background-color: #E92129;
	;
}

.main_div_header {
	margin: 100px;
}

.main_a_header {
	display: flex;
	
}

.main_a_h1_header {
	display: flex;
	align-items: center;
	margin-right: 40px;
    font-size: 80px; /* Размер текста */
    font-weight: 800; /* Жирный шрифт */
    background: linear-gradient(120.79deg, #242424 3.25%, #E92129 75.17%);
    -webkit-background-clip: text; /* Обрезка фона по контуру текста (для WebKit-браузеров) */
    -webkit-text-fill-color: transparent; /* Прозрачный цвет текста (для WebKit-браузеров) */	
    
}

.div_about_information {
	width: 1122px;
	height: 289px;
	display: flex;
	margin-left: 100px;
	margin-bottom: 100px;
}

.div_h1_information {
	width: 692px;
	height: 170px;
	display: flex;
	align-items: center;
	font-family: Proxima Nova;
	font-size: 40px;
	color: #242424;

}

.div_p_information {
	width: 697px;
	height: 76px;
	gap: 0px;
	opacity: 0px;
}

.div_ctatic_information {
	display: flex;
}

.p_upper_information {
	font-family: Proxima Nova;
	font-size: 32px;
	font-weight: 400;
	line-height: 38.02px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #000000;
	margin-bottom: 20px;
}

.p_lower_information {
	font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 400;
	line-height: 27.96px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #000000;
	margin-bottom: 20px;

}

.p_information_block {
	font-family: Proxima Nova;
    font-size: 50px; 
    font-weight: 700;
	line-height: 42.65px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	margin-right: 80px;

}

.span_information_block {
	font-family: Proxima Nova;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.37px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

}

.div_services {
	background: linear-gradient(12.79deg,#E92129 15.17%, #242424 50.25%);
	width: 100%;
	height: 320px;


}

.h1_services {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px;
	padding-top: 50px;
	font-size: 80px;
	color: #E92129;
	
}

.div_services_section {
	margin-left: 100px;
	margin-right: 100px;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
	margin-top: -125px;
	margin-bottom: 100px;
}

.services_section {
	width: 277px;
	height: 231px;
	padding: 16px 0px 0px 0px;
	margin: 20px;
	background-color: #ffffff;
	border: 1px solid #FFFFFF;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.services_section_images {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-bottom: 30px;
}

.services_section_upper {
	display: flex;
	justify-content: center;
}

.services_section_lower {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 20px;
}

/* Слайдер */

.div_portfolio {
	display: flex;
	margin-bottom: 100px;
}

.div_portfolio_supremus {
	display: flex;
	align-items: center;
	margin-left: 100px;
}

.h1_portfolio_supremus {
	font-family: Proxima Nova;
    font-size: 80px;
    font-weight: 800;
	color: #242424;
}

.images_portfolio_medius {
	padding: auto;
}

.p_portfolio_supremus {
	font-family: Proxima Nova;
	font-size: 18.51px;
	font-weight: 400;
	color: #1C1C1C;

}

.button_portfolio_supremus {
	width: 186px;
	height: 52px;
	border-radius: 12px;
	background-color: #E92129;
	font-family: Proxima Nova;
	font-size: 16px;
	font-weight: 700;
	line-height: 22.13px;
	color:#ffffff;
}

/* Слайдер */

.swiper-slider {
	display: flex;
    position: relative;
    width: 800px;
	height: 400px;
    overflow: hidden;

	
}

.swiper-wrapper {
	display: flex;
	transition: transform 0.5s ease-in-out;
	will-change: transform;
}

.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;


	position: relative;
}

.swiper-slide img {
	width: 100%; /* Изображение занимает всю ширину слайда */
	height: auto; /* Автоматическая высота для сохранения пропорций */
}

.swiper-slide-next {
	transform: scale(0.90); /* Уменьшение размера следующего слайда */
}

.img_swipper {
	width: 800px;
	height: 400px;
	border-radius: 10px;
}



.games-banner {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: red;
    color: white;
    width: 200px;
    padding: 10px;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.text-content h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.text-content .see-all {
    display: inline-block;
    margin-top: 5px;
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
}

.text-content .see-all:hover {
    color: #f0f0f0;
}

.slider-controls {
	position: absolute; /* Абсолютное позиционирование */
    bottom: -50px; /* Отступ от нижнего края слайдера */
    right: 10px; /* Отступ от правого края слайдера */
    display: flex; /* Для размещения кнопок в строку */
    gap: 10px; /* Расстояние между кнопками */
    z-index: 1; /* Убедитесь, что кнопки находятся поверх других элементов */

}

.prev,
.next {
	background-color: red;
	border-radius: 50%;
	color: white;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}

/* Слайдер */
.div_banner_img {
	background-color: #000000;
}

.span_banner_img {
	display: flex;
	justify-content: space-evenly;
}

.contact_us_communis {
	display: flex;
	background: linear-gradient(120.79deg, #242424 13.25%, #E92129 75.17%);
}

.contact_us_supremus {
	margin: 100px;
	width: 578px;
	height: 327px;
}

.p_recomendation_supremus {
	font-family: Proxima Nova;
	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
	margin-bottom: 40px;
}

.h1_recomendation {	
	font-family: Proxima Nova;
	font-size: 80px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 40px;
}

.p_recomendation_inferion {
	font-family: Proxima Nova;
	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
}

.contact_us_inferior {
	margin: 100px;
	margin-left: 200px;
}

.form_contact_us_inferior {
	width: 477px;
	height: 363px;
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.input_contact_us_inferior {
	width: 477px;
	height: 42pxpx;
	padding: 6px 0px 6px 20px;
	font-family: Proxima Nova;
	font-size: 17px;
	font-weight: 400;
	margin: 10px;
	background: transparent;
	opacity: 0.4px;
	border: 1px solid #FFFFFF
}

.input_contact_us_inferiors {
	width: 477px;
	height: 110px;
	padding: 6px 0px 0px 20px;
	font-family: Proxima Nova;
	font-size: 17px;
	font-weight: 400;
	margin: 10px;
	background: transparent;
	opacity: 0.4px;
	border: 1px solid #FFFFFF;
}

.button_contact_us_inferior {

	padding: 14px 24px 14px 24px;
	background-color: #E4252C;
	font-size: 20px;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.div_banner_images {
	margin-top: 100px;
	margin-bottom: 100px;
}

.span_banner_images {
	display: flex;
	justify-content: space-evenly;
}

.div_banner_class_images {
	background: linear-gradient(120.79deg, #181818 87.75%, #FFFFFF00 5.17%);
	width: 787px;
	height: 153px;
	position: absolute;
	margin-top: -80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.div_secundum_gradum_supremus{
	display: flex;
	background-color: #000000;
	color: #ffffff;
	height: 300px;
}

.ul_tertium_gradum_inferior {
	display: flex;
}

.div_secundum_gradum_inferior{
	display: flex;
	background-color: #E4252C;
}

.div_tertium_gradum_supremus {
	margin-top: 100px;
	margin-left: 150px;
	width: 485.91px;
	height: 187.5px;
	display: flex;
	flex-direction: column
}

.span_tertium_gradum_supremus {
	display: flex;
}

.span_ul_tertium_gradum_supremus {
	display: flex;
}

.img_tertium_gradum_supremus {
	margin: 10px;
}

.p_tertium_gradum_supremus {
	margin: 10px;
}

.p_secundum_gradum_inferior {
	margin-left: 150px;
	font-family: Proxima Nova;
	font-size: 21px;
	font-weight: 400;
	padding: 20px;
}

.span_secundum_gradum_inferior {
	padding: 20px;
	position: absolute;
	right: 0;
	margin-right: 150px;
}

.img_secundum_gradum_inferior {
	margin: 5px;
}

.div_tertium_gradum_inferior {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 100px;
	margin-top: 100px;
	width: 641px;
	height: 183px;
	position: absolute;
	right: 0;
	margin-right: 150px;
	flex-direction: column;
}

.li_tertium_gradum_inferior{
	font-family: Proxima Nova;
	font-size: 21px;
	font-weight: 400;
	color: #ffffff;
	margin: 0px 29px;
}

.span_tertium_gradum_inferior {
	width: 640px;
	height: 109px;
    display: flex;
    justify-content: center;
    padding: 20px;
	 
}

.form_tertium_gradum_inferior {
    display: flex;
    flex-direction: column; /* Элементы располагаются в колонку */

}

.form-label {
    margin-bottom: 10px; /* Отступ между меткой и полем ввода */
	font-family: Proxima Nova;
	font-size: 31px;
	font-weight: 700;
	margin-left: 10px;

}

.input-container {
    position: relative; /* Устанавливаем относительное позиционирование для контейнера */
    width: 100%; /* Задаем ширину контейнера */
	width: 640px;
	height: 60px;
	padding: 8.x 8px 8px 18px;

	border-radius: 5px 0px 0px 0px;
}

.input_tertium_gradum_inferior {
    width: 80%; /* Поле ввода занимает всю ширину контейнера */
    padding: 10px; /* Отступы внутри поля ввода */
    padding-right: 80px; /* Добавляем отступ справа для кнопки */
	border: none;
	background-color: #272727;
	border-radius: 5px;

}

.button_tertium_gradum_inferior {
    position: absolute; /* Абсолютное позиционирование для кнопки */
    right: 52px; /* Располагаем кнопку справа внутри поля ввода */
    top: 50%; /* Центрируем кнопку по вертикали */
    transform: translateY(-100%); /* Корректируем вертикальное выравнивание кнопки */
    padding: 5px 10px; /* Отступы внутри кнопки */
	background-color: #E92129;
    color:white; /* Цвет текста кнопки */
    border: none; /* Убираем рамку у кнопки */
    border-radius: 4px; /* Закругленные углы кнопки */
	width: 101px;
	height: 44ppx;

	
}

